@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.1");
    border-right-color: theme("colors.primary.2");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.1");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* Swiper Arrows & Hover */
.swiper-button-next,
.swiper-button-prev {
  @apply text-accentGreen-1 !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply text-accentPink-1 !important;
}

.swiper-pagination-bullet {
  @apply bg-accentGreen-1 !important;
}

.swiper-pagination {
  @apply absolute bottom-0 left-0 right-0 flex justify-center pb-4 !important; /* ⬅️ Immer unten, zentriert und mit Padding */
}
